@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'MinionPro-Regular';
  src: url('/MinionPro-Regular.woff') format('woff');

} */

@font-face {
  font-family: 'Minion Pro';
  src:        url('/fonts/MinionPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src:        url('/fonts/MinionPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Minion Pro', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  body {
    @apply w-screen antialiased overflow-x-hidden lg:text-lg
  }

  h1 {
    @apply text-3xl xl:text-[44px] font-semibold
  }
  h2 {
    @apply text-3xl xl:text-[44px] font-semibold leading-tight
  }

  h3 {
    @apply text-2xl lg:text-3xl font-semibold
  }

  h4 {
    @apply text-xl font-semibold
  }

  article p {
    @apply mb-4
  }

  p {
    @apply mb-4
  }

  article h2 {
    @apply mt-10 mb-4 text-xl
  }

  /* article h2 {
    @apply mt-10 mb-4 text-xl
  } */

  article i {
    @apply text-primaryOrange not-italic
  }

 i {
    @apply text-primaryOrange not-italic
  }

  article li {
    @apply block
  }

}
